plugins {
    id 'java'
    {{kotlinPlugin}}
    id 'com.github.johnrengelman.shadow' version '8.1.1'
}

group = '{{packageName}}'
version = '{{pluginVersion}}'

repositories {
    mavenCentral()
    maven {
        name = 'papermc'
        url = '{{repoUrl}}'
    }
}

dependencies {
    compileOnly '{{depGroupId}}:{{depArtifactId}}:{{depVersion}}'
    annotationProcessor '{{depGroupId}}:{{depArtifactId}}:{{depVersion}}'
    {{lombokDependency}}
    {{kotlinStdlib}}
}

processResources {
    def props = [version: version]
    inputs.properties props
    filteringCharset 'UTF-8'
    filesMatching('velocity-plugin.json') {
        expand props
    }
}

java {
    toolchain.languageVersion = JavaLanguageVersion.of({{javaVersion}})
}
