package {{packageName}}

import com.google.inject.Inject
import com.velocitypowered.api.event.Subscribe
import com.velocitypowered.api.event.proxy.ProxyInitializeEvent
import com.velocitypowered.api.plugin.Plugin
import com.velocitypowered.api.proxy.ProxyServer
import {{packageName}}.managers.PluginManager
import {{packageName}}.listeners.PlayerListener
import org.slf4j.Logger
{{dependencyImports}}

@Plugin(
    id = "{{pluginId}}",
    name = "{{projectName}}",
    version = "{{pluginVersion}}",
    url = "{{website}}",
    description = "{{description}}",
    authors = ["{{authorName}}"],
    dependencies = [{{dependencyAnnotations}}]
)
class {{projectName}} @Inject constructor(
    private val server: ProxyServer,
    private val logger: Logger
) {

    @Subscribe
    fun onProxyInitialization(event: ProxyInitializeEvent) {
        // Initialize managers
        PluginManager.initialize(server)

        // Register listeners
        server.getEventManager().register(this, PlayerListener())

        logger.info("{{projectName}} has been enabled!")
    }
}
