package {{packageName}};

import org.bukkit.plugin.java.JavaPlugin;
import {{packageName}}.managers.PluginManager;
import {{packageName}}.listeners.PlayerListener;

public class {{projectName}} extends JavaPlugin {
    
    @Override
    public void onEnable() {
        
        // Initialize managers
        PluginManager.getInstance().initialize();
        
        // Register listeners
        getServer().getPluginManager().registerEvents(new PlayerListener(), this);
        
        getLogger().info(getDescription().getName() + " has been enabled!");
    }

    @Override
    public void onDisable() {
        getLogger().info(getDescription().getName() + " has been disabled!");
    }
    
}
