node_modules/
.vscode/
out/
dist/
.history/
.eslintcache
*.vsix
*.tmp
*.bak
.gitignore
.env
.DS_Store
Thumbs.db
**/*.test.js
pnpm-lock.yaml
package-lock.json
pnpm-workspace.yaml
.npmrc
yarn.lock
.antigravity
.antigravitycli