package {{packageName}}.blocks;

import net.minecraft.block.Block;
import net.minecraft.block.material.Material;

public class {{className}} extends Block {
    public {{className}}() {
        super(Material.ROCK);
    }
}
