package {{packageName}}.items

import net.minecraft.item.Item
import net.minecraft.item.ItemStack
import net.minecraft.util.ActionResult
import net.minecraft.entity.player.EntityPlayer
import net.minecraft.world.World
import net.minecraft.util.EnumHand

class {{className}} : Item() {
    override fun onItemRightClick(world: World, player: EntityPlayer, hand: EnumHand): ActionResult<ItemStack> {
        return super.onItemRightClick(world, player, hand)
    }
}
