package {{packageName}}.blocks;

import net.minecraft.block.AbstractBlock;
import net.minecraft.block.Block;

public class {{className}} extends Block {
    public {{className}}(AbstractBlock.Properties properties) {
        super(properties);
    }
}