package {{packageName}}.items

import net.minecraft.world.item.Item
import net.minecraft.world.InteractionResult
import net.minecraft.world.entity.player.Player
import net.minecraft.world.level.Level
import net.minecraft.world.InteractionHand

class {{className}}(properties: Properties) : Item(properties) {
    override fun use(level: Level, player: Player, hand: InteractionHand): InteractionResult {
        return super.use(level, player, hand)
    }
}