package {{packageName}}.entities

import net.minecraft.world.entity.EntityType
import net.minecraft.world.entity.PathfinderMob
import net.minecraft.world.level.Level

class {{className}}(type: EntityType<out PathfinderMob>, level: Level) : PathfinderMob(type, level)